@model IEnumerable<Book>

@foreach (var book in Model)
{
    
    
        <a asp-action="Details" asp-route-id="@book.BookId">
            <div class="book-card">
                <img src="@Url.Content("~/images/" + book.ImageUrl)" alt="@book.Description" />
                <div class="book-card-body">
                    <h5>@book.Title</h5>
                    <p>@book.Description</p>
                    <p><strong>Published:</strong> @book.YearPublished</p>
                    <p><strong>Category:</strong> @book.Category</p>
                    <div>
                    @if (book.DiscountEndDate.HasValue && book.DiscountEndDate.Value > DateTime.Now)
                    {
                        <p class="card-text" style="color: #dc3545; font-weight: bold; font-size: 1rem;">Discount ends in: <span id="countdown-@book.BookId"></span></p>
                        var originalPrice = book.BuyPrice / (1 - (book.DiscountPrice.Value / 100));

                        <p class="card-text" style="color: #dc3545; font-weight: bold; font-size: 1.2rem;">
                            <span>@book.DiscountPrice.Value% off</span>
                        </p>

                        <p class="card-text" style="color: #dc3545; font-weight: bold; font-size: 1.2rem;">
                            <span style="text-decoration: line-through; color: #6c757d;">@originalPrice.ToString("c")</span>
                        </p>

                        <!-- Pass BookId and DiscountEndDate to JavaScript -->
                    }
                    <div>
                        <p style="color: #28a745;">Borrow price: @book.BorrowPrice.ToString("c")</p>
                        <p style="color: #28a745;">Buy price: @book.BuyPrice.ToString("c")</p>
                    </div>
                    <div class="book-price">

                        <button type="button" class="btn btn-add-to-cart" data-toggle="modal" data-target="#addToCartModal">Add to Cart</button>
                    </div>
                    </div>
                </div>
            </div>
        </a>
    
}
