@model Book
@{
	ViewBag.Title = $"{ViewBag.Operation}";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Operation @Model.Title</h1>
<form asp-action="AddEdit" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="BookId" />
	<div class="form-group">
		<label asp-for="Title">	</label>
		<input asp-for="Title" class="from-control" name="Title" />
		<span asp-validation-for="Title" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="Publisher">	</label>
		<input asp-for="Publisher" class="from-control" name="Publisher" />
		<span asp-validation-for="Publisher" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="Description">	</label>
		<input asp-for="Description" class="from-control" name="Description" />
		<span asp-validation-for="Description" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="YearPublished">	</label>
		<input asp-for="YearPublished" class="from-control" name="YearPublished" />
		<span asp-validation-for="YearPublished" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="BorrowPrice">	</label>
		<input asp-for="BorrowPrice" class="from-control" name="BorrowPrice" />
		<span asp-validation-for="BorrowPrice" class="text-danger">	</span>

	</div>

	<div class="form-group">
		<label asp-for="BuyPrice">	</label>
		<input asp-for="BuyPrice" class="from-control" name="BuyPrice" />
		<span asp-validation-for="BuyPrice" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="DiscountPrice">	</label>
		<input asp-for="DiscountPrice" class="from-control" name="DiscountPrice" />
		<span asp-validation-for="DiscountPrice" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="DiscountEndDate">	</label>
		<input asp-for="DiscountEndDate" class="from-control" name="DiscountEndDate" />
		<span asp-validation-for="DiscountEndDate" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="AgeLimit">	</label>
		<input asp-for="AgeLimit" class="from-control" name="AgeLimit" />
		<span asp-validation-for="AgeLimit" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="Category">	</label>
		<input asp-for="Category" class="from-control" name="Category" />
		<span asp-validation-for="Category" class="text-danger">	</span>

	</div>
	<div class="form-group">
		<label asp-for="ImageFile">	</label>
		<input type="file" class="form-control" id="ImageFile" name="ImageFile" asp-for="ImageFile"/>

	</div>
	<div class="row">
		<div class="col">
			@if (ViewBag.Authors != null)
        {
			@foreach (Author author in ViewBag.Authors)
			{
				<div class="form-check">
					@{
						bool isChecked = Model.BookAuthors!=null && Model.BookAuthors.Any(i=> i.AuthorId==author.AuthorId);

					}
					<input type="checkbox" class="form-check-input" id="@author.AuthorId" name="authorIds" value="@author.AuthorId" @(isChecked ? "checked" : "") />
					<label class="form-check-label" for="@author.AuthorId">@author.Name</label>
				</div>
			}
		}
		else{
				<p>No authors found.</p>
		}

	</div>

</div>
		

	<button type="submit" class="btn btn-primary">Save</button>
	<a asp-action="Index" asp-controller="Book" class="btn btn-outline-dark">Cancel</a>"

</form>
