@model IEnumerable<Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>
<a asp-action="AddEdit" class="btn btn-sm btn-warning">
    <i class="bi bi-person-fill-add"></i> Add new book
</a>


<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="category">Filter by Category:</label>
        <select id="category" name="category" class="form-control">
            <option value="">All</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category" selected="@(category == ViewBag.SelectedCategory ? "selected" : "")">@category</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Year Published</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>    
                <td>
                    <img src="~/images/@book.ImageUrl" alt="@book.Title" style="width: 100px; height: auto;" />
                </td>
                <td>@book.Title</td>
                <td>@book.Publisher</td>
                <td>@book.YearPublished</td>
                <td>@book.Category</td>
                <td>
                    <a asp-action="AddEdit" asp-route-id="@book.BookId" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i> 
                    </a>
                    <form asp-action="Delete" asp-route-id="@book.BookId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3-fill"></i> 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
